<nav class="navbar navbar-inverse">
    <ul class="nav justify-content-end">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
        <h1><b>Claim Management</b></h1>
    </ul>

    <ul class="nav justify-content-end">
        <!-- <li *ngIf="!isLoggedIn()" ngclass="nav-item">
            <a style="margin:5px;" class="btn btn-secondary" routerLink="signup">Signup</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
            <a style="margin:5px;" class="btn btn-secondary" routerLink="signin">Signin</a>
        </li> -->
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a style="margin:5px;" class="btn btn-secondary" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a style="margin:5px;" class="btn btn-primary" (click)="getProviders()">Network Hospitals</a>
        </li>
    </ul>
</nav>