<nav class="navbar navbar-inverse">
    <ul >
        <h2><b>Claim Mamagement System</b></h2>
    </ul>

    <ul class="nav justify-content-end">
        
            <a style="margin:5px;" class="btn btn-secondary" routerLink="signup">Signup</a>
       
        
            <a style="margin:5px;" class="btn btn-secondary" routerLink="signin">Signin</a>
        
         <!-- <li *ngIf="isLoggedIn()" class="nav-item">
            <a style="margin:5px;" class="btn btn-secondary" (click)="logout()">Logout</a>
        </li>  -->
    </ul>
</nav>