<div class="bg">
    <div class="card">
      <div class="text-center">
        <h1>Login</h1>
      </div>
      <form [formGroup]="signinForm">
        <div class="mb-3">
          <label for="username">Username</label>
          <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username"
            [(ngModel)]="username">
          <div *ngIf="(f.username.dirty || f.username.touched) && f.username.invalid" class="formError">
            <div *ngIf="f.username.errors?.required">Name is required.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password1=">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password"
            [(ngModel)]="password">
          <div *ngIf="(f.password.dirty || f.password.touched) && f.password.invalid" class="alert-feedback">
            <span class="formError" *ngIf="f.password.errors?.required">Password is required.</span>
          </div>
        </div>
        <div class="mb-3">
          <button class='btn btn-primary' [disabled]="signinForm.invalid" (click)="signin()">Signin</button>
        </div>
      </form>
      <div *ngIf="ispopup" class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{errorMsg}}
        <!-- <button (click)="closePopup()" type="button" class="btn-close" data-bs-dismiss="alert"
          aria-label="Close"></button> -->
      </div>
  
    </div>
  </div>