<div>
    <!-- <div >
    <a class="btn btn-primary" routerLink="createBook">Add Book</a>
    </div> -->


    <div class="container" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let bill of bills">
            <div class="item item-1">
               
                <h4>Billid: {{bill.billId}}</h4>
                <h4>Policy Number:{{bill.policyNumber}}</h4>
                <h4>Premium Paid Date:{{bill.premiumPaidDate}}</h4>
                <h4>Premium Due Date:{{bill.premiumDueDate}}</h4>
                <h4>Payment Term:{{bill.paymentTerm}}</h4>
                <h4>Premium Amount:{{bill.premiumAmount}}</h4>
                <h4>Coverage:{{bill.coverage}}</h4>
                <h4>Next Premium Date:{{bill.nextPremiumDate}}</h4>
            </div>
        </div>
    </div>
</div>
