
  .div {
    margin-bottom: 10px;
  }
  .label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }

  .container{
    margin-top: 20px;
    border-style:unset;
    background-color: rgb(232, 237, 241);
    margin-right: 10px;
    margin-left: 10px;
  }

  .formError{
    color: rgb(219, 19, 86);
  }