<div class="bg">

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <mat-card class="mat-elevation-z4">

      <mat-card-content>View Policy</mat-card-content>
      <a href="/member" class="btn stretched-link"></a>
    </mat-card>
  </div>
  <div class="mt-3">
    Claim Services
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <mat-card class="mat-elevation-z4">

      <mat-card-content>View Bills</mat-card-content>
      <button class="btn stretched-link" (click)="viewBills()"></button>
      <!-- <a style="margin:5px;" class="btn btn-secondary" routerLink="signup">Signup</a>  -->
      <!-- <a (click)="viewBills()" class="btn stretched-link"></a> -->
    </mat-card>
    <mat-card class="mat-elevation-z4">

      <mat-card-content>Submit Claim</mat-card-content>
      <button class="btn stretched-link" (click)="getPolicies()"></button>
    </mat-card>
    <mat-card class="mat-elevation-z4">

      <mat-card-content>View Claim Status</mat-card-content>
      <button class="btn stretched-link" (click)="viewStatus()"></button>
    </mat-card>
  </div>
</div>